.main-menu {
  margin-left: 43px;
  &__list {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
    &-link {
      text-decoration: none;
      color: #282f30;
      font-family: 'Manrope', 'Helvetica Neue', 'Arial', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%; /* 20px */
      // transition: color 0.2s ease-in-out;

      &:hover {
        color: #62767c;
      }

      &_active {
        font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
        color: #fcbe13;
      }
    }
  }
}
