.news-container {
  &__title-container {
    padding: 65px 85px 50px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 5px 0 0;
    padding: 0;
  }

  &__news-list {
    margin: 0;
    padding: 0 85px 120px;
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    list-style: none;
    gap: 70px 21px;
  }
}
