.page-title {
  margin: 0 0 50px;
  padding: 0;
  color: #282f30;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%; /* 37.8px */

  @media screen and (max-width: 1169px) {
    font-size: 22px;
  }

  @media screen and (max-width: 546px) {
    font-size: 20px;
  }

  &_place_main {
    margin-top: 5px;
    margin-bottom: 0;
  }

  &_place_full-news {
    margin-bottom: 30px;

    @media screen and (max-width: 1126px) {
      margin-bottom: 25px;
    }

    @media screen and (max-width: 572px) {
      font-size: 20px;
    }
  }

  &_place_union-members {
    @media screen and (max-width: 891px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 436px) {
      margin-bottom: 31px;
    }
  }

  &_place_projects {
    @media screen and (max-width: 900px) {
      margin-bottom: 40px;
    }
  }

  &_place_full-project {
    @media screen and (max-width: 1180px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 25px;
    }
  }

  &_place_reports {
    @media screen and (max-width: 1164px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 670px) {
      margin-bottom: 25px;
    }
  }
}
