.page-title {
  margin: 0 0 50px;
  padding: 0;
  color: #282f30;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%; /* 37.8px */

  @media screen and (max-width: 1169px) {
    font-size: 22px;
  }

  @media screen and (max-width: 1169px) {
    font-size: 20px;
    line-height: 120%;
  }

  &_place_main {
    margin-top: 5px;
    margin-bottom: 0;
  }

  &_place_full-news {
    margin-bottom: 30px;
  }
}
