.vk-link {
  padding: 0;
  margin: 0;
  display: inline-block;

  &__icon {
    background-image: url('../../assets/icons/vk-icon.svg');
    width: 17px;
    height: 17px;
    transition: background-image 0.3s linear;

    @media screen and (max-width: 1220px) {
      width: 18px;
      height: 18px;
    }

    &:hover {
      background-image: url('../../assets/icons/vk-icon-hover.svg');
    }
  }

  &__icon_place_footer {
    background-image: url('../../assets/icons/vk-icon-footer.svg');
    width: 20px;
    height: 20px;

    &:hover {
      background-image: url('../../assets/icons/vk-icon-footer-hover.svg');
    }
  }
}
