.logo {
  display: flex;
  text-decoration: none;
  font-size: 0;
  margin-bottom: 10px;
  padding: 0;

  &_place_footer {
    &:hover .logo__title_place_footer {
      color: #fcbe13;
    }
  }

  &_place_brand-banner {
    margin-right: 164px;
    margin-bottom: 0;
    display: inline-block;

    // @media screen and (max-width: 1255px) {
    //   margin-right: 98px;
    // }
  }

  &__image {
    width: 31px;
    height: 38px;
    font-size: 0;
    display: inline-block;

    @media screen and (max-width: 1220px) {
      width: 25.289px;
      height: 31px;
    }

    &_place_main {
      width: 175.395px;
      height: 215px;

      @media screen and (max-width: 1255px) {
        width: 98px;
        height: 120.129px;
      }
    }

    &_place_contacts {
      width: 142px;
      height: 174.065px;
    }
  }

  &__title {
    color: #282f30;
    font-family: 'Manrope', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin: 3px 0 0 10px;
    padding: 0;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #62767c;
    }

    @media screen and (max-width: 1220px) {
      font-size: 10px;
      margin-top: 1px;
    }

    &_place_footer {
      color: #fff;
      transition: color 0.3s ease-in-out;
    }
  }
}
