.brand-banner {
  background-image: url('../../assets/brandbanner-background.png');
  height: 480px;
  box-sizing: border-box;
  padding: 55px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__subtitle {
    color: #282f30;
    font-family: 'Manrope', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0 137px 0 0;
    padding: 0;
    width: 393px;
  }

  &__title {
    color: #282f30;
    font-family: 'Manrope', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 42px */
    margin: 10px 0 25px 0;
    padding: 0;
    width: 530px;
  }
}
