.search {
  visibility: hidden;
  display: flex;
  height: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0 85px 0 86px;
  background-color: #fff;
  opacity: 0;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &_is_opened {
    visibility: visible;
    height: 71px;
    opacity: 1;
  }

  &__form {
    width: 473px;
    height: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__input {
    width: 473px;
    height: 35px;
    border: none;
    outline: 1px solid #62767c;
    border-radius: 3px;
    color: #282f30;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    box-sizing: border-box;
    padding: 0 71px 0 10px;

    &:focus {
      outline: 1px solid #303a3d;
    }

    &::placeholder {
      color: #bdbdbd;
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
      display: none;
    }
  }

  &__buttons {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
