.search {
  visibility: hidden;
  opacity: 0;
  display: flex;
  height: 0px;
  justify-content: space-between;
  padding: 0 85px 0 86px;
  background-color: #fff;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &_is_opened {
    visibility: visible;
    height: 83px;
    opacity: 1;
  }

  &__form {
    width: 473px;
    height: 57px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 18px;
  }

  &__label {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  &__input {
    width: 473px;
    height: 35px;
    border: none;
    outline: 1px solid #62767c;
    border-radius: 3px;
    color: #282f30;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    box-sizing: border-box;
    padding: 0 71px 0 10px;
    margin-bottom: 8px;

    &:not(.search__input_type_error):focus {
      outline: 2px solid #909da1;
    }

    &::placeholder {
      color: #bdbdbd;
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
      display: none;
    }

    &_type_error {
      outline: 1px solid #eb5757;
    }
  }

  &__error {
    height: 14px;
    color: #eb5757;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    display: inline-block;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  &__buttons {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
