.project-block {
  display: grid;
  grid-template-columns: 540px 1fr;
  column-gap: 95px;
  font-size: 0;

  @media screen and (max-width: 900px) {
    grid-template-columns: 295px 1fr;
    column-gap: 39px;
  }

  @media screen and (max-width: 622px) {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    margin: 0 auto;
  }

  &__image {
    width: 540px;
    height: 268px;
    grid-column: 1/2;
    grid-row: 1/4;

    @media screen and (max-width: 900px) {
      width: 295px;
      height: 177px;
    }

    @media screen and (max-width: 622px) {
      width: 270px;
      height: 158.143px;
      margin-bottom: 15px;
    }
  }

  &__title {
    color: #000;
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin: 0 0 20px;
    padding: 0;
    grid-column: 2/3;
    height: 51px;

    @media screen and (max-width: 900px) {
      font-size: 16px;
      height: 40px;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 622px) {
      line-height: 130%; /* 20.8px */
      height: 42px;
    }
  }

  &__description {
    color: #282f30;
    font-family: 'Manrope';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    margin: 0 0 50px;
    padding: 0;
    height: 90px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column: 2/3;

    @media screen and (max-width: 900px) {
      font-size: 14px;
      line-height: 120%; /* 16.8px */
      height: 67px;
      margin-bottom: 25px;
    }

    @media screen and (max-width: 622px) {
      line-height: normal;
      -webkit-line-clamp: 3;
      height: 55px;
    }
  }
}
