.header {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;

  &__menu-container {
    padding: 0 86.3px 0 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
  }
}
