@import '../../assets/styles/mixins/main-text-font';

.our-history {
  display: flex;
  flex-direction: column;
  padding: 0 157px 0 0;
  margin: 50px 0 0;

  @media screen and (max-width: 1164px) {
    padding-right: 39px;
    margin-top: 40px;
  }

  @media screen and (max-width: 546px) {
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 25px;
  }

  &__title {
    color: #282f30;
    @include main-text-font(28, 700, 1.05);

    margin: 0 0 50px;
    padding: 0;
  }

  &__parargraph-title {
    color: #282f30;
    @include main-text-font(20, 700, 1.1);

    margin: 40px 0 0;
    padding: 0;
  }

  &__paragraph {
    color: #282f30;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    margin: 0 0 40px;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
