.footer {
  background: #303a3d;
  padding: 35px 118px 65px 85px;
  margin-top: auto; /*для того, чтобы прибить футер к низу (сделать sticky footer) */

  &__columns {
    display: flex;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_type_first {
      width: 350px;
      margin-right: 30px;
    }

    &_type_second {
      margin-right: 141px;
      justify-content: start;
    }

    &_type_third {
      justify-content: start;
    }
  }

  &__social-icons {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }

  &__author {
    margin: 25px 0 0;
    padding: 0;
    color: #fff;
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }

  &__menu-heading {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }

  &__menu-items {
    display: grid;
    grid-template-columns: 62px 67px 72px;
    gap: 20px 65px;
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
  }

  &__menu-item-link {
    text-decoration: none;
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #fcbe13;
    }
  }

  &__contact-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 27px 0 0;
    padding: 0;
    color: #fff;
  }
}
