.search {
  display: flex;
  visibility: hidden;
  height: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0 85px 0 86px;
  background-color: #fff;
  opacity: 0;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &_is_opened {
    visibility: visible;
    height: 71px;
    opacity: 1;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  &__form {
    width: 473px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #303a3d;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px 0 10px;
  }

  &__input {
    width: 392px;
    border: none;
    color: #282f30;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin-right: 10px;
  }

  &__buttons {
    display: flex;
    gap: 15px;
  }
}
