.bread-crumbs {
  background-color: #fff;
  padding: 20px 85px 0 85px;

  @media screen and (max-width: 1262px) {
    padding-left: 39px;
    padding-right: 39px;
  }

  @media screen and (max-width: 1126px) {
    padding-top: 0;
  }

  @media screen and (max-width: 711px) {
    display: none;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 1126px) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &__list-item {
    color: #282f30;
    font-family: 'Manrope';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */

    @media screen and (max-width: 1126px) {
      font-size: 12px;
    }
  }

  &__list-item_link {
    text-decoration: none;
    display: inline-block;
    color: #909da1;
    transition: color 0.2s linear;

    &:hover {
      color: #b4bec1;
    }
  }

  &__span {
    margin-left: 20px;
    color: #282f30;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */

    @media screen and (max-width: 1126px) {
      font-size: 12px;
    }
  }
}
