@import '../../assets/styles/mixins/main-text-font';

.bread-crumbs {
  background-color: var(--main-background-color);
  padding: 20px 0 0;

  @media screen and (max-width: 1126px) {
    padding-top: 0;
  }

  @media screen and (max-width: 711px) {
    display: none;
  }

  &__list {
    max-width: 1280px;
    list-style: none;
    margin: 0 auto;
    padding: 12px 85px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    font-size: 0;

    @media screen and (max-width: 1262px) {
      padding-left: 39px;
      padding-right: 39px;
    }

    @media screen and (max-width: 1126px) {
      padding-top: 15px;
      padding-bottom: 15px;
      height: 46px;
    }
  }

  &__list-item {
    color: var(--main-text-color);
    @include main-text-font(14, 400, 1.25);

    @media screen and (max-width: 1126px) {
      font-size: 12px;
      line-height: 1.3;
    }

    &:last-of-type {
      padding-top: 2px;
      box-sizing: border-box;

      @media screen and (max-width: 1126px) {
        padding-top: 0;
      }
    }
  }

  &__list-item_link {
    text-decoration: none;
    display: inline-block;
    color: var(--crumb-link-color);
    transition: color 0.2s linear;
    margin: 0;
    padding: 0;

    &:hover {
      color: var(--crumb-link-hover-color);
    }
  }

  &__span {
    margin-left: 20px;
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */

    @media screen and (max-width: 1126px) {
      font-size: 12px;
      line-height: 1.3;
    }
  }
}
