.page {
  background: #fff;
  color: #000;
  font-family: 'Manrope', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;

  &__content {
    min-width: 320px;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.home {
  padding-bottom: 122px;

  &__title-container {
    padding: 65px 85px 50px;
    display: flex;
    justify-content: space-between;
  }
}

.news {
  padding: 60px 85px 120px;
}

.full-news {
  padding: 60px 85px 120px;

  &__date {
    margin: 0 0 38px;
    padding: 0;
    display: inline-block;
  }

  &__image {
    width: 1110px;
    height: 600px;
    object-fit: cover;
    object-position: top -100px right 0;
  }

  &__text {
    margin: 40px 0 70px;
    padding: 0;
    color: #282f30;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
  }
}

.projects {
  padding: 60px 87px 120px 85px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 85px;
  }
}

.full-project {
  padding: 60px 85px 120px;

  &__image {
    width: 1110px;
    height: 600px;
  }

  &__text {
    margin: 40px 0 70px;
    padding: 0;
    color: #282f30;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
  }
}

.union-members {
  padding: 60px 85px 90px;

  &__title {
    margin: 0 0 50px 0;
    padding: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 40px 24px;
  }
}

.full-union-member {
  padding: 60px 85px 200px;

  &__container {
    margin-bottom: 45px;
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 445px 505px;
    grid-template-rows: 306px 139px;
    column-gap: 95px;
  }

  &__image {
    width: 445px;
    height: 445px;
    object-fit: cover;
    grid-row: 1/3;
    grid-column: 1/2;
  }

  &__short-biography {
    margin: 0 0 40px 0;
    padding: 0;
    color: #282f30;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    height: 266px;
    grid-row: 1/2;
  }

  &__category-info-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__text {
    width: 885px;
    color: #282f30;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    margin: 40px 0 0;
    padding: 0;
  }
}

.scores {
  padding: 60px 85px 731px;

  &__list {
    list-style: none;
    margin: 51px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__link {
    text-decoration: none;
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 22px */
    display: flex;
    gap: 22px;
  }

  &__link-image {
    background-image: url('./assets/icons/score-image.svg');
    width: 19px;
    height: 22px;
  }
}

.media {
  display: flex;
  flex-direction: column;
  padding: 60px 85px 482px;
}

.full-video {
  display: flex;
  flex-direction: column;
  padding: 60px 85px 326px;

  &__iframe {
    width: 1109.945px;
    height: 622.802px;
  }

  &__title {
    margin: 40px 0 20px;
    padding: 0;
    color: #000;
    font-family: 'Manrope';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 29.4px */
  }

  &__date {
    color: #000;
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
  }
}

.reports {
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 85px;
  &__image {
    width: 825px;
    height: 1167px;
    border: 0.516px solid #000;
    margin: 50px 0 90px 0;
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  padding: 60px 85px 0 85px;
}

.full-article {
  padding: 60px 85px 120px;

  &__container {
    display: flex;
  }

  &__image {
    width: 585px;
    height: 445px;
    margin-right: 50px;
    margin-bottom: 50px;
  }

  &__description {
    margin: 0;
    padding: o;
    color: #282f30;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__paragraph-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  padding: 60px 84px 467px 85px;

  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 204px 227px;
    gap: 35px 172px;
    margin: 0 0 70px;
    padding: 0;
  }

  &__iframe {
    width: 100%;
    height: 370px;
    margin: 0;
    padding: 0;
  }
}

.search-results {
  padding: 50px 85px 120px;

  &__no-results-text {
    color: #282f30;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
