.audio-player {
  position: relative;

  &__container {
    max-width: 730px;
    height: 52px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 14px;
    box-sizing: border-box;
    background-color: #fafafa;
    border-radius: 6px;
    position: absolute;
    top: 0;
  }

  &__play-button {
    width: 22px;
    height: 22px;
    background-image: url('../../assets/icons/audioplayer-play-icon.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;

    &_active {
      background-image: url('../../assets/icons/audioplayer-pause-icon.svg');
    }
  }

  &__time-counter {
    width: 67px;
    height: 19px;
    color: #303a3d;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__progress-bar {
    background-color: #fcbe13;
    height: 4px;
    position: absolute;
    left: 127px;
  }

  &__timeline {
    width: 521px;
    height: 4px;
    background-color: #d9d9d9;
    transition: width 0.3s linear;

    &_type_volume {
      width: 0;
    }

    &_hovered {
      width: 110px;
    }
  }

  &__volume-container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__volume-button {
    width: 22px;
    height: 22px;
    background-image: url('../../assets/icons/audioplayer-volume-icon.svg');
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__more-button {
    width: 22px;
    height: 22px;
    background-image: url('../../assets/icons/audioplayer-more-icon.svg');
    border: none;
    background-color: transparent;
    cursor: pointer;

    &_active {
      background-image: url('../../assets/icons/audioplayer-more-icon-active.svg');
    }
  }

  &__more-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 15px;
    right: 35px;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 0.2s linear;

    &_is_opened {
      visibility: visible;
      opacity: 1;
      width: 140px;
      height: 40px;
    }
  }

  &__more-menu-main {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;

    &_is_opened {
      display: flex;
      flex-direction: column;
    }
  }

  &__more-menu-params {
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    list-style-type: none;

    &_is_opened {
      visibility: visible;
      opacity: 1;
    }
  }

  &__more-menu-button {
    border: none;
    padding: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    text-align: left;
    cursor: pointer;
  }
}
