.video-recordings {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 540px);
  gap: 60px 29px;
  margin: 50px 0 92px;
  padding: 0;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__iframe {
    width: 540px;
    height: 303px;
  }

  &__item-link {
    text-decoration: none;
  }

  &__item-title {
    width: 541px;
    min-height: 44px;
    margin: 30px 0 15px;
    padding: 0;
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 22px */
  }

  &__item-date {
    display: inline-block;
  }
}
