.time-counter {
  width: 67px;
  height: 19px;
  color: #303a3d;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media screen and (max-width: 810px) {
    width: 57px;
    height: 16px;
    font-size: 12px;
  }

  @media screen and (max-width: 612px) {
    font-size: 12px;
  }
}
